cloudinary
Django>=5.1,<6.0
django-crispy-forms
crispy-tailwind
celery[redis]
gunicorn
google-api-python-client
google-auth
google-auth-oauthlib
google-genai
gTTS
imageio
imageio-ffmpeg
moviepy==1.0.3
numpy
Pillow
psycopg[binary]
python-dotenv
redis
requests
whitenoise
